.task {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    transition: 0.5s;
    height: 130px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.09);
}

.task__top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2d2d2;
}

.task__top-area__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task__top-area__content__title {
    font-size: 18px;
    font-weight: 500;
}

.task__top-area__content__subtitle {
    font-size: 14px;
    font-weight: 200;
}

.task__top-area__btn-complete {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task__top-area__btn-complete i {
    font-size: 20px;
    color: white;
    transition: 0.5s;
    opacity: 0;
}

.task__top-area__btn-complete .done {
    opacity: 1;
}

.task__top-area__btn-complete--done {
    background-color: #0463fe;
}

.task__bottom-area {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__bottom-area__task__timestamp-area {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task__bottom-area__task__timestamp-area__date {
    font-weight: 500;
    color: #989898;
}

.task__bottom-area__task__timestamp-area__time {
    font-weight: 300;
    color: #d0d0d0;
}

.task__bottom-area__btn-area {
    display: flex;
    align-items: center;
    gap: 6px;
}

.task__bottom-area__btn-area__btn {
    width: 25px;
    color: white;
    aspect-ratio: 1/1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.task__bottom-area__btn-area__btn-remove {
    font-size: 12px;
    background-color: #f16b5d;
}

.task__bottom-area__btn-area__btn-update {
    font-size: 12px;
    background-color: #5dade2;
}

.task__bottom-area__btn-area__btn-remove {
    width: 25px;
    font-size: 12px;
    color: white;
    background-color: #f16b5d;
    aspect-ratio: 1/1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.task__top-area__content__title--completed,
.task__top-area__content__subtitle--completed {
    text-decoration: line-through;
}
